import /init.microtrust.rc
import /mtk-plpath-utils.rc

on init
    # Create a more standard /dev/block layout for our scripts
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw:/system/lib64/hw

on fs
    mkdir /mnt/vendor/persist 0771 root root
    install_keyring
    setprop crypto.ready 1

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service vendor.keymaster-4-1-beanpod /vendor/bin/hw/android.hardware.keymaster@4.1-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    class early_hal
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

on property:vendor.sys.listener.registered=true
    start vendor.gatekeeper-1-0
    start vendor.keymaster-4-1-beanpod

on property:crypto.ready=1
    start vendor.keymaster-4-1-beanpod

on property:hwservicemanager.ready=true
    start vendor.keymaster-4-1-beanpod
    start vendor.gatekeeper-1-0

on property:ro.crypto.state=unsupported
    stop teei_daemon
    stop vendor.keymaster-4-1-beanpod
    stop vendor.gatekeeper-1-0

on property:ro.crypto.state=unencrypted
    stop teei_daemon
    stop vendor.keymaster-4-1-beanpod
    stop vendor.gatekeeper-1-0

on property:twrp.decrypt.done=true
    stop teei_daemon
    stop vendor.keymaster-4-1-beanpod
    stop vendor.gatekeeper-1-0

service boot-hal-1-2 /system/bin/android.hardware.boot@1.2-service
    interface android.hardware.boot@1.0::IBootControl default
    interface android.hardware.boot@1.1::IBootControl default
    interface android.hardware.boot@1.2::IBootControl default
    user root
    group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/vendor/lib:/system/lib64:/system/lib:/sbin
    disabled
    seclabel u:r:recovery:s0

on boot
    start boot-hal-1-2
    start health-hal-2-1
